body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Roboto', Arial, sans-serif;
}

header {
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    list-style-type: none;
    margin: 0 5px;
}

header nav {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

header .current a {
    color: #e8491d;
    font-weight: bold;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

p {
    line-height: 1.5;
    font-size: 1rem;
}


.container {
    margin-top: 1rem;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.social-media a {
    color: #333;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}